leader = drop cap 
drop shadow = drop shadow
section or div

/* ------ CSS RESET ------ */

* {
    padding 0;
    margin 0;
    font-size:100;
    line-height:1em;
}

/* ------  MAIN STYLING ------ */

body{
    width: 75%;
    max-width:670px;
    margin: auto;
    background: #fafafa;
    color: #333333;
}

h1, {
    font-weight: normal;
    color:#333333;
    text-align: left;
    font-size: 500;
}


h3 {
    font-weight: normal;
    color:#333333;
    text-align: left
}

p, li, blockquote, {
    margin-bottom: 1.5em;
    line-height: 1.8}

h2{
  font-weight: normal;
    color:#333333;
    text-align: left;
    font-style: italic;    
}

span1{
Color: #333;
float: left;
font-size: 75px;
line-height: 60px;
padding-top: 4px;
padding-right: 8px;
padding-left: 3px;
font-family: 'Libre Baskerville', serif;
}
section1 {
   font-family: 'Libre Baskerville', serif; 
}
blockquote1 {
   Color: #978c93;  
font-style: italic; 
font-family: 'Libre Baskerville', serif;
}

span2{
Color: #333;
float: left;
font-size: 75px;
line-height: 60px;
padding-top: 4px;
padding-right: 8px;
padding-left: 3px;
font-family: 'Open Sans', sans-serif;
}
section2 {
  font-family: 'Open Sans', sans-serif; 
}
blockquote2 {
   Color: #978c93;  
font-style: italic; 
font-family: 'Open Sans', sans-serif;
}

span3{
Color: #333;
float: left;
font-size: 75px;
line-height: 60px;
padding-top: 4px;
padding-right: 8px;
padding-left: 3px;
font-family: 'Arvo', serif;
}
section3 {
font-family: 'Arvo', serif;
}
blockquote3 {
   Color: #978c93;  
font-style: italic; 
font-family: 'Arvo', serif;
}

